/* Reset da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Maven Pro', sans-serif;
}
img{
    max-width: 100%;
}
html{
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
.p-topo{
    margin: 0;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    background-color: white;
    padding: 2px;
    font-weight: 400;
    color: black;
}
/* Cabeçalho */
#header{
    transition: .3s;
    padding: 20px;
    background-color: rgb(0, 0, 180);
}
#header .container-header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .container-header .container-logo{
    width: 15%;
}
#header .container-header .container-logo a{
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
} 
#header .container-header .container-logo a:hover{
    color: rgb(207, 207, 207);
}
#header .container-header .container-geral-header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}
#header .container-header .container-geral-header .search form{
    width: 100%;
    display: flex;
    align-items: center;
}
#header .container-header .container-geral-header .search form input{
    width: 500px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 7px 0px 7px 40px;
    border-radius: 50px;
    transition: .3s;
}
#header .container-header .container-geral-header .search form .btn-enviar{
    position: relative;
    background-color: transparent;
    right: 45px;
    border: none;
    width: 40px;
    padding: 5px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    transition: .3s;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up{
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    margin-right: 30px;
    cursor: pointer;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up i{
    font-size: 1.5rem;
    color: white;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up i:last-child{
    font-size: 0.8rem;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up p{
    margin: 0;
    color: white;
    font-size: 1rem;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up a{
    text-decoration: none;
    color: white;
    transition: .3s;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up a:hover{
    color: rgb(207, 207, 207);
}
#header .container-header .container-geral-header .container-log-in-or-sign-up .sign-up-log-ip-list{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up:hover > .sign-up-log-ip-list{
    display: block;
    top: 47px;
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#header .container-header .container-geral-header .container-log-in-or-sign-up .sign-up-log-ip-list .container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: .3s;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up .sign-up-log-ip-list .container-box p{
    color: black;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 10px;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item i{
    color: black;   
}
#header .container-header .container-geral-header .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item a{
    color: black;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1rem;
}
#header .container-header .container-geral-header .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item a:hover{
    color: rgb(207, 207, 207);
}
#header .container-header .container-geral-header .container-shopping-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
#header .container-header .container-geral-header .container-shopping-cart a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    transition: .3s;
}
#header .container-header .container-geral-header .container-shopping-cart a:hover{
    color: rgb(207, 207, 207);
}
#header .container-header .container-geral-header .container-shopping-cart i{
    color: white;
    font-size: 1.5rem;
}
/* Menu mobile */
#header .container-menu-mobile{
    display: none;
}
/* Btn mobile */
#btn-mobile{
    display: none;
}
/* Menu */
.container-nav{ 
    background-color: rgb(0, 0, 180);
    transition: .3s;
    padding-top: 10px;
    padding-bottom: 20px;
}
.container-nav .container-nav-width{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-nav .container-nav-width #menu-list{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
}
.container-nav .container-nav-width #menu-list ul{
    position: absolute;
    z-index: 10000;
    list-style: none;
    padding: 0;
}
.container-nav .container-nav-width #menu-list ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    top: 20px;
    background-color: rgb(0, 0, 180);
    position: relative;
    animation: fadeIn 1s;
    padding: 10px;
    transition: .3s;
}
.container-nav .container-nav-width #menu-list ul li a{
    width: 200px;
    height: 50px;
    text-align: center;
    transition: .3s;
}
.container-nav .container-nav-width #menu-list ul li a:hover{
    background-color: black;
    color: white;
}
.container-nav .container-nav-width #menu-list ul{
    display: none;
}
.container-nav .container-nav-width #menu-list li:hover>ul{
    display: block;
}
.container-nav .container-nav-width #menu-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    transition: .3s;
    font-weight: 600;
}
.container-nav .container-nav-width #menu-list li a:hover{
    color: rgb(207, 207, 207);
}
/* Section carrossel */
#section-carrossel{
    transition: .3s;
}
#section-carrossel #carouselExampleIndicators .carousel-inner .carousel-item img{
    width: 1280px;
    height: 460px;
}
/* Section Icons */
#section-icons{
    transition: .3s;
    padding-top: 10px;
}
#section-icons .container-icons-info-width{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#section-icons .container-icons-info-width .container-cards{
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
#section-icons .container-icons-info-width .container-cards .container-cards-one{
    width: 100%;
    display: flex;
    gap: .5rem;
}
#section-icons .container-icons-info-width .container-cards .container-cards-one .card{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.9rem;
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 3px;
}
#section-icons .container-icons-info-width .container-cards .container-cards-one .card i{
    font-size: 1.5rem;
    color: rgb(0, 0, 219);
}
#section-icons .container-icons-info-width .container-cards .container-cards-one .card .texts{
    display: flex;
    flex-direction: column;
}
#section-icons .container-icons-info-width .container-cards .container-cards-one .card .texts h3{
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    margin: 0;
}
#section-icons .container-icons-info-width .container-cards .container-cards-one .card .texts p{
    font-size: 1rem;
    color: black;
    margin: 0;
    font-weight: 400;
}
/* Section Best sellers e section featured products*/
#section-Best-sellers{
    transition: .3s;
    padding-top: 70px;
    padding-bottom: 70px;
}
#section-featured-products{
    padding-bottom: 40px;
}
#section-Best-sellers .container-Best-sellers, #section-featured-products .container-featured-products{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#section-Best-sellers .container-Best-sellers h2, #section-featured-products .container-featured-products h2{
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    margin: 0;
}
#section-Best-sellers .container-Best-sellers h2:first-child::after{
    display: block;
    content: '';
    width: 60%;
    height: 2px;
    background-color: rgb(0, 0, 219);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
#section-featured-products .container-featured-products h2:first-child::after{
    display: block;
    content: '';
    width: 60%;
    height: 2px;
    background-color: rgb(0, 0, 219);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
#section-Best-sellers .container-Best-sellers .container-group-items, #section-featured-products .container-featured-products .container-group-items{
    width: 100%;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product-1, #section-featured-products .container-featured-products .container-group-items .card-product-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    transition: .3s;
    margin-bottom: 30px;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product:hover{
    box-shadow: 1px 1px 20px black;   
}
#section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product:hover{
    box-shadow: 1px 1px 20px black; 
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product a, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a{
    text-decoration: none;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product .heart i, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .heart i{
    position: absolute;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    display: none;
    transition: .3s;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product:hover > .heart i, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product:hover > .heart i{
    display: block;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product .heart i:hover, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .heart i:hover{
    color: rgb(168, 168, 168);
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product img, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a img{
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product h2, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a h2{
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 10px 0px 0px 20px;
}
#section-Best-sellers .container-Best-sellers .container-group-items h3, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product h3{
    padding: 0px 0px 0px 20px;
    color: rgb(0, 0, 219);
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: bold;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product p, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product p{
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: black;
    font-weight: 400;
    padding: 0px 0px 0px 20px;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product .btn-comprar, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .btn-comprar{
    width: 49%;
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(0, 0, 219);
    padding: 8px;
    border-radius: 10px;
    transition: .3s;
    border: 1px solid rgb(0, 0, 219);
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#section-Best-sellers .container-Best-sellers .container-group-items .card-product .btn-comprar:hover, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .btn-comprar:hover{
    background-color: white;
    border: 1px solid rgb(0, 0, 219);
    color: black;
}
/* Footer */
#footer-id{
    transition: .3s;
    padding-bottom: 40px;
    padding-top: 50px;
}
#footer-id .container-footer-width{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
#footer-id .container-footer-width > div{
    width: 20%;
}
#footer-id .container-footer-width .container-logo-p a, .container-forms-payments p, .container-contacts .container-contacts-whatsapp p, .container-contacts-email p, .container-contacts-time p, .container-social-networks p{
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
    margin: 0;
}
#footer-id .container-footer-width .container-logo-p a:hover{
    color: rgb(207, 207, 207);
}
#footer-id .container-footer-width .container-logo-p p{
    color: black;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    transition: .3s;
    margin: 0;
    margin-top: 10px;
}
#footer-id .container-footer-width .container-forms-payments p{
    margin-bottom: 10px;
}
#footer-id .container-footer-width .container-forms-payments i{
    font-size: 2.8rem;
    color: rgb(0, 0, 180);
}
#footer-id .container-footer-width .container-contacts{
    display: flex;
    flex-direction: column;
}
#footer-id .container-footer-width .container-contacts i{
    color: rgb(0, 0, 180);
}
#footer-id .container-footer-width .container-contacts p{
    margin-bottom: 10px;
}
#footer-id .container-footer-width .container-contacts .container-contacts-whatsapp, .container-contacts-email, .container-contacts-time, .container-social-networks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer-id .container-footer-width .container-contacts hr{
    width: 100%;
    color: black;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer-id .container-footer-width .container-contacts hr:last-child{
    margin-bottom: 0;
}
#footer-id .container-footer-width .container-contacts .container-contacts-whatsapp .whatsapp-info, .container-contacts-email .email-info, .container-contacts-time .time-info{
    display: flex;
    align-items: center;
    gap: .4rem;
}
#footer-id .container-footer-width .container-contacts, .container-contacts-email .email-info, .container-contacts-time .time-info, .container-social-networks .social-networks-info{
    font-size: 1.3rem;
    color: black;
}
#footer-id .container-footer-width .container-contacts .container-contacts-whatsapp .whatsapp-info h4, .container-contacts-email .email-info h4, .container-contacts-time .time-info h4{
    margin: 0;
    color: black;
    font-size: 1rem;
}
#footer-id .container-footer-width .container-social-networks{
    display: flex;
    align-items: center;
}
#footer-id .container-footer-width .container-social-networks p{
    margin-bottom: 10px;
}
#footer-id .container-footer-width .container-social-networks .social-networks-info{
    display: flex;
    gap: 1rem;
    transition: .3s;
}
#footer-id .container-footer-width .container-social-networks .social-networks-info a{
    color: black;
}
#footer-id .container-footer-width .container-social-networks .social-networks-info i{
    transition: .3s;
    padding: 5px 5px 5px 5px;
}
#footer-id .container-footer-width .container-social-networks .social-networks-info i:first-child{
    padding: 5px 5px 5px 0px;
}
#footer-id .container-footer-width .container-social-networks .social-networks-info a:hover{
    color: rgb(0, 0, 180);
}

/* Responsividade tablet - 780px */
@media(max-width:780px){
    /* Cabeçalho */
    #header{
        padding: 25px 0px;
    }
    #header .container-header{
        width: 95%;
    }
    #header .container-header .container-logo{
        width: 100%;
    }
    #header .container-header .container-logo a{
        font-size: 1.2rem;
    }
    /* Menu Mobile */
    #container-menu-mobilee{
        padding: 30px;
        position: absolute;
        position: fixed;
        width: 50%;
        top: 0px;
        left: -600px;
        height: 100%;
        background-color: rgb(0, 0, 180);
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 10000;
    }
    #click.active #container-menu-mobilee{
        left: 0px;
        visibility: visible;
    }
    #btn-mobile{
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: white;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #container-headerr.active #hamburger{
        border-top-color: transparent;
    }
    #container-headerr.active #hamburger::before{
        transform: rotate(135deg);
    }
    #container-headerr.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    /* Adicionando o Menu mobile */
    #header .container-menu-mobile{
        display: block;
    }
    /* Ajustando os itens do menu mobile */
    #header .container-menu-mobile .container-menu-wrap .search{
        width: 100%;
        margin-bottom: 20px;
    }
    #header .container-menu-mobile .container-menu-wrap .search form{
        width: 100%;
        display: flex;
    }
    #header .container-menu-mobile .container-menu-wrap .search form input{
        width: 300px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        outline: none;
        padding: 6px 0px 6px 10px;
        border-radius: 50px;
        transition: .3s;
    }
    #header .container-menu-mobile .container-menu-wrap .search form .btn-enviar{
        position: relative;
        background-color: transparent;
        right: 45px;
        border: none;
        width: 40px;
        padding: 5px;
        font-size: 1rem;
        color: black;
        cursor: pointer;
        transition: .3s;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile i{
        display: none;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile p{
        margin: 0;
        color: white;
        font-size: 1.2rem;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile a{
        text-decoration: none;
        color: white;
        transition: .3s;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile a:hover{
        color: rgb(207, 207, 207);
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list hr{
        display: none;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box{
        display: flex;
        flex-direction: column;
        transition: .3s;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box p{
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item{
        display: flex;
        align-items: center;
        gap: 0.7rem;
        margin-bottom: 5px;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item i{
        color: white;  
        font-size: 1.2rem; 
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item a{
        text-decoration: underline;
        color: white;
        font-weight: 400;
        font-size: 1.1rem;
        transition: .3s;
    }
    #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item a:hover{
        color: rgb(207, 207, 207);
    }
    #header .container-menu-mobile .container-menu-wrap .container-shopping-cart{
        display: flex;
        gap: .4rem;
        margin-bottom: 20px;
    }
    #header .container-menu-mobile .container-menu-wrap .container-shopping-cart a{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        transition: .3s;
    }
    #header .container-menu-mobile .container-menu-wrap .container-shopping-cart a:hover{
        color: rgb(207, 207, 207);
    }
    #header .container-menu-mobile .container-menu-wrap .container-shopping-cart i{
        color: white;
        font-size: 1.2rem;
    }
    #header .container-menu-mobile .container-menu-wrap .categorias-menu p{
        color: white;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    #header .container-menu-mobile .container-menu-wrap .categorias-menu .container-nav{
        background-color: transparent;
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #header .container-menu-mobile .container-menu-wrap .categorias-menu .container-nav .container-nav-width{
        justify-content: left;
    }
    #header .container-menu-mobile .container-menu-wrap .categorias-menu .container-nav #menu-list{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    #header .container-menu-mobile .container-menu-wrap .categorias-menu .container-nav #menu-list li a{
        font-family: sans-serif !important;
        font-size: 1rem;
        padding: 0px;
        font-weight: normal;
    }
    #header .container-menu-mobile .container-menu-wrap .categorias-menu .container-nav #menu-list li a:hover{
        color: rgb(207, 207, 207);
    }
    /* Retirando o menu desktop */
    #header .container-header .container-geral-header{
        display: none;
    }
    .container-nav{
        display: none;
    }
    /* Section carrossel */
    #section-carrossel #carouselExampleIndicators .carousel-inner .carousel-item img{
        width: 1280px;
        height: 350px;
    }
    /* Section Icons */
    #section-icons .container-icons-info-width{
        width: 95%;
    }
    #section-icons .container-icons-info-width .container-cards{
        flex-direction: column;
        gap: 0rem;
    }
    #section-icons .container-icons-info-width .container-cards .container-cards-one{
        width: 100%;
        gap: .5rem;
    }
    #section-icons .container-icons-info-width .container-cards .container-cards-one .card{
        margin-bottom: 10px;
        justify-content: left;
        padding: 10px 0px 10px 20px;
    }
    /* Section Best sellers e section featured products*/
    #section-Best-sellers{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #section-Best-sellers .container-Best-sellers, #section-featured-products .container-featured-products{
        width: 95%;
    }
    #section-Best-sellers .container-Best-sellers h2, #section-featured-products .container-featured-products h2{
        font-size: 1.5rem;
    }
    #section-Best-sellers .container-Best-sellers h2:first-child::after{
        margin-bottom: 30px;
    }
    #section-featured-products .container-featured-products h2:first-child::after{
        margin-bottom: 30px;
    }
    #section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product{
        width: 40%;
    }
    #section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product:hover{
        box-shadow: 1px 1px 20px black;   
    }
    #section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product .heart i, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .heart i{
        font-size: 1.2rem;
    }
    #section-Best-sellers .container-Best-sellers .container-group-items .card-product img, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a img{
        height: 250px;
    }
    #section-Best-sellers .container-Best-sellers .container-group-items .card-product h2, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    #section-Best-sellers .container-Best-sellers .container-group-items h3, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product h3{
        font-size: 1.1rem;
        margin-bottom: 5px;
    }
    #section-Best-sellers .container-Best-sellers .container-group-items .card-product .btn-comprar, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .btn-comprar{
        width: 60%;
        padding: 5px;
        font-size: 1rem;
    }
    /* Footer */
    #footer-id{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    #footer-id .container-footer-width{
        width: 95%;
        gap: 0%;
        justify-content: space-evenly;
    }
    #footer-id .container-footer-width > div{
        width: 40%;
        margin-bottom: 20px;
    }
    #footer-id .container-footer-width .container-logo-p a, .container-forms-payments p, .container-contacts .container-contacts-whatsapp p, .container-contacts-email p, .container-contacts-time p, .container-social-networks p{
        font-size: 1.1rem;
    }
    #footer-id .container-footer-width .container-logo-p p{
        font-size: 1rem;
    }
    #footer-id .container-footer-width .container-forms-payments{
        text-align: right;
    }
    #footer-id .container-footer-width .container-forms-payments i{
        font-size: 1.8rem;
    }
    #footer-id .container-footer-width .container-contacts .container-contacts-whatsapp .whatsapp-info h4, .container-contacts-email .email-info h4, .container-contacts-time .time-info h4{
        font-size: 1rem;
    }
    #footer-id .container-footer-width .container-social-networks{
        align-items: flex-end;
    }
    #footer-id .container-footer-width .container-social-networks .social-networks-info{
        gap: 0.5rem;
    }

    /* Responsividade - 450px */
    @media(max-width:450px){
        .p-topo{
            font-size: 0.9rem;
        }
        /* Menu Mobile */
        #container-menu-mobilee{
            width: 80%;
            padding-left: 20px;
        }
        /* Section carrossel */
        #section-carrossel #carouselExampleIndicators .carousel-inner .carousel-item img{
            width: 1280px;
            height: 200px;
        }
        /* Section Icons */
        #section-icons .container-icons-info-width .container-cards .container-cards-one{
            flex-direction: column;
            width: 95%;
            gap: 0rem;
            align-items: center;
        }
        #section-icons .container-icons-info-width .container-cards .container-cards-one .card{
            margin-bottom: 5px;
            width: 100%;
            gap: 0.9rem;
            padding: 5px 0px 5px 10px;
        }
        #section-icons .container-icons-info-width .container-cards .container-cards-one .card i{
            font-size: 1.2rem;
        }
        #section-icons .container-icons-info-width .container-cards .container-cards-one .card .texts h3{
            font-size: 1rem;
        }
        #section-icons .container-icons-info-width .container-cards .container-cards-one .card .texts p{
            font-size: 0.9rem;
        }
        /* Section Best sellers e section featured products*/
        #section-Best-sellers{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #section-featured-products{
            padding-bottom: 30px;
        }
        #section-Best-sellers .container-Best-sellers h2, #section-featured-products .container-featured-products h2{
            font-size: 1.3rem;
        }
        #section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product{
            width: 45%;
        }
        #section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product:hover{
            box-shadow: 1px 1px 20px black;   
        }
        #section-Best-sellers .container-Best-sellers .container-group-items .card-product-1 .card-product .heart i, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .heart i{
            font-size: 1.2rem;
        }
        #section-Best-sellers .container-Best-sellers .container-group-items .card-product img, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a img{
            height: 180px;
        }
        #section-Best-sellers .container-Best-sellers .container-group-items .card-product .btn-comprar, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .btn-comprar{
            width: 70%;
            font-size: 1rem;
        }
        /* Footer */
        #footer-id{
            padding-bottom: 20px;
            padding-top: 20px;
        }
        #footer-id .container-footer-width > div{
            width: 100%;
        }
        #footer-id .container-footer-width .container-logo-p a, .container-forms-payments p, .container-contacts .container-contacts-whatsapp p, .container-contacts-email p, .container-contacts-time p, .container-social-networks p{
            font-size: 1.1rem;
        }
        #footer-id .container-footer-width .container-logo-p p{
            margin-top: 5px;
        }
        #footer-id .container-footer-width .container-forms-payments{
            text-align: left;
        }
        #footer-id .container-footer-width .container-forms-payments p{
            margin-bottom: 5px;
        }
        #footer-id .container-footer-width .container-forms-payments i{
            font-size: 1.7rem;
        }
        #footer-id .container-footer-width .container-contacts p{
            margin-bottom: 5px;
        }
        #footer-id .container-footer-width .container-contacts hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #footer-id .container-footer-width .container-social-networks{
            align-items: flex-start;
        }
        #footer-id .container-footer-width .container-social-networks .social-networks-info{
            gap: 0.5rem;
        }
        #footer-id .container-footer-width .container-contacts, .container-contacts-email .email-info, .container-contacts-time .time-info, .container-social-networks .social-networks-info{
            font-size: 1rem;
        }
        #footer-id .container-footer-width .container-social-networks p{
            margin-bottom: 5px;
        }

        /* Responsividade 375px */
        @media(max-width:375px){
            #header .container-header .container-logo a{
                font-size: 1.1rem;
            }
             /* Menu Mobile */
             #container-menu-mobilee{
                width: 75%;
            }
            /* Ajustando os itens do menu mobile */
            #header .container-menu-mobile .container-menu-wrap .search form input{
                font-size: 0.8rem;
                padding: 5px 0px 5px 10px;
            }
            #header .container-menu-mobile .container-menu-wrap .search form .btn-enviar{
                right: 0px;
                color: white;
                font-size: 0.9rem;
            }
            #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile p{
                font-size: 1rem;
            }
            #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile strong{
                font-size: 1rem;
            }
            #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile a{
                font-size: 1rem;
            }
            #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box p{
                font-size: 1.1rem;
            }
            #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item i{
                font-size: 1.1rem; 
            }
            #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item a{
                font-size: 1rem;
            }
            #header .container-menu-mobile .container-menu-wrap .container-shopping-cart a{
                font-size: 1rem;
            }
            #header .container-menu-mobile .container-menu-wrap .container-shopping-cart i{
                font-size: 1.1rem;
            }
            #header .container-menu-mobile .container-menu-wrap .categorias-menu p{
                font-size: 1.2rem;
            }
            /* Section carrossel */
            #section-carrossel #carouselExampleIndicators .carousel-inner .carousel-item img{
                height: 170px;
            }
            /* Section Icons */
            #section-icons .container-icons-info-width .container-cards .container-cards-one .card i{
                font-size: 1.1rem;
            }
            /* Section Best sellers e section featured products*/
            #section-Best-sellers .container-Best-sellers h2, #section-featured-products .container-featured-products h2{
                font-size: 1.3rem;
            }
            #section-Best-sellers .container-Best-sellers .container-group-items .card-product img, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a img{
                height: 150px;
            }
            #section-Best-sellers .container-Best-sellers .container-group-items .card-product h2, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a h2{
                font-size: 1.1rem;
                padding: 5px 0px 0px 4px;
            }
            #section-Best-sellers .container-Best-sellers .container-group-items h3, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product h3{
                font-size: 1.2rem;
                padding: 0px 0px 0px 4px;
            }
            #section-Best-sellers .container-Best-sellers .container-group-items .card-product p, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product p{
                font-size: 0.9rem;
                padding: 0px 0px 0px 4px;
            }
            #section-Best-sellers .container-Best-sellers .container-group-items .card-product .btn-comprar, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .btn-comprar{
                width: 70%;
                padding: 4px;
                font-size: 0.9rem;
                margin-left: 4px;
            }
            /* Footer */
            #footer-id{
                padding-bottom: 20px;
                padding-top: 20px;
            }
            #footer-id .container-footer-width .container-logo-p a, .container-forms-payments p, .container-contacts .container-contacts-whatsapp p, .container-contacts-email p, .container-contacts-time p, .container-social-networks p{
                font-size: 1rem;
            }
            #footer-id .container-footer-width .container-forms-payments i{
                font-size: 1.5rem;
            }

            /* Responsividade 320px */
            @media(max-width:320px){
                .p-topo{
                    font-size: 0.8rem;
                }
                #header .container-header .container-logo a{
                    font-size: 1rem;
                }
                /* Ajustando os itens do menu mobile */
                #header .container-menu-mobile .container-menu-wrap .search form input{
                    font-size: 0.6rem;
                    padding: 5px 0px 5px 5px;
                }
                #header .container-menu-mobile .container-menu-wrap .search form .btn-enviar{
                    font-size: 0.7rem;
                }
                #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile p{
                    font-size: 0.9rem;
                }
                #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .container-user-mobile strong{
                    font-size: 0.9rem;
                }
                #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box p{
                    font-size: 1rem;
                }
                #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item i{
                    font-size: 1rem; 
                }
                #header .container-menu-mobile .container-menu-wrap .container-log-in-or-sign-up .sign-up-log-ip-list .container-box .item a{
                    font-size: 0.9rem;
                }
                #header .container-menu-mobile .container-menu-wrap .container-shopping-cart a{
                    font-size: 0.9rem;
                }
                #header .container-menu-mobile .container-menu-wrap .container-shopping-cart i{
                    font-size: 1rem;
                }
                #header .container-menu-mobile .container-menu-wrap .categorias-menu p{
                    font-size: 1.1rem;
                }
                /* Section carrossel */
                #section-carrossel #carouselExampleIndicators .carousel-inner .carousel-item img{
                    height: 130px;
                }
                /* Section Icons */
                #section-icons .container-icons-info-width .container-cards .container-cards-one .card{
                    padding: 4px 0px 4px 10px;
                }
                #section-icons .container-icons-info-width .container-cards .container-cards-one .card i{
                    font-size: 1rem;
                }
                #section-icons .container-icons-info-width .container-cards .container-cards-one .card .texts h3{
                    font-size: 0.9rem;
                }
                #section-icons .container-icons-info-width .container-cards .container-cards-one .card .texts p{
                    font-size: 0.8rem;
                }
                /* Section Best sellers e section featured products*/
                #section-Best-sellers .container-Best-sellers h2, #section-featured-products .container-featured-products h2{
                    font-size: 1.2rem;
                }
                #section-Best-sellers .container-Best-sellers .container-group-items .card-product img, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a img{
                    height: 120px;
                }
                #section-Best-sellers .container-Best-sellers .container-group-items .card-product h2, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product a h2{
                    font-size: 1rem;
                }
                #section-Best-sellers .container-Best-sellers .container-group-items h3, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product h3{
                    font-size: 1.1rem;
                }
                #section-Best-sellers .container-Best-sellers .container-group-items .card-product p, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product p{
                    font-size: 0.8rem;
                }
                #section-Best-sellers .container-Best-sellers .container-group-items .card-product .btn-comprar, #section-featured-products .container-featured-products .container-group-items .card-product-1 .card-product .btn-comprar{
                    width: 80%;
                    font-size: 0.8rem;
                }
                /* Footer */
                #footer-id{
                    padding-bottom: 20px;
                    padding-top: 20px;
                }
                #footer-id .container-footer-width .container-logo-p p{
                    font-size: 0.9rem;
                }
                #footer-id .container-footer-width .container-contacts > div > div > h4{
                    font-size: 0.9rem;
                }
                #footer-id .container-footer-width .container-contacts .container-contacts-whatsapp .whatsapp-info h4{
                    font-size: 0.9rem;
                }
                #footer-id .container-footer-width .container-logo-p a, .container-forms-payments p, .container-contacts .container-contacts-whatsapp p, .container-contacts-email p, .container-contacts-time p, .container-social-networks p{
                    font-size: 1rem;
                }
                #footer-id .container-footer-width .container-forms-payments i{
                    font-size: 1.3rem;
                }
            }
        }
    }
}